* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background: #1e293b;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #38bdf8;
}

button {
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ef4444;
    color: white;
}

main {
    padding: 2rem;
}
